.searchedvideos{
    width: 80%;
    padding-left: 10%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }

  .ytComments {
    text-align: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25% */
  }

  .commentSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .comments {
    text-align: center;
    height: 300px;
    overflow: auto;
    border: 2px solid black;
    width: 70%;
    min-width: 150px
  }

  /* .delete {
    height: 25px; 
  } */

  .commentsH2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 900px)  {
    .searchedvideos {
      grid-template-columns: repeat(1, 1fr);
      }
  }