

.memberInfo {
    
    width: 50%;
    border-top: 2px solid rgb(144, 124, 6);
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: start;
    margin: 5px;
    
}

.memberInfo img {
    border: 1px solid black;
    width: 180px;
    height: 200px;
  }


.memberInfo h2{
    margin-top: 15px;
    text-transform: uppercase;
}

.memberInfo2 {
    width: 50%;
    
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.memberInfo3 {
    width: 50%;
    border-bottom: 2px solid navy;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid navy;
}




.centrado{
   margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linktoteam{
    text-decoration: none;
}

.linktoteam h5 {
    text-align: center;
    color: navy;
    
}

.memberData {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 0px; 
}





